html {
  --primary: #f5e9db;
  --secondary: #fbf5ef;
  --main-font: #411b0c;
  --menu-font: #bb7e33;
  --h-font: #9d523c;
}

body {
    overflow-x: hidden;
}

.divider{
    margin-left: -300px;
    margin-right: -200px;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 100%;
}

.divider2{
    margin-left: -300px;
    margin-right: -200px;
    margin-top: 100px;
    max-width: 100%;
}

#messer {
  margin-top: 50px;
  text-align: center;
}

#messer h2 {
  font-size: 20px;
  padding-top: 20px;
}

.messe-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: max-content;
  margin-inline: auto;
}

.messeinfo {
  text-align: center;
  border: 1px solid var(--main-font);
  padding: 40px;
  width: 280px;
  height: 340px;
  transition: transform 0.3s ease;
}

.messeinfo:hover {
  transform: translateY(-5px);
}

.messeinfo a {
  text-decoration: none;
  font-weight: 400;
  color: var(--main-font);
}

.messeinfo p {
  line-height: 2.5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.messeinfo a:hover{
  color: var(--h-font);
  }

#omos {
  margin-top: 50px;
  text-align: center;
}

#omos h2,
h3 {
  margin-top: 50px;
  padding-bottom: 10px;
}

.helle-sprite {
  border: 1px solid var(--main-font);
  padding: 30px;
  margin-bottom: 50px;
}

.omos-img {
  margin-top: 50px;
  width: 270px;
  height: 349px;
  margin-bottom: 60px;
}

.lennert-img {
    margin-top: 50px;
    width: 270px;
    height: 349px;
    margin-bottom: 60px;
  }

.omos-container {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 20px auto;
  padding: 30px;
  list-style-type: none;
  text-align: start;
  padding: 40px;
  border: 1px solid var(--main-font);
}

.omos-info {
  list-style-type: none;
  padding: 30px;
}

.omos-info li {
  margin-bottom: 20px;
  position: relative;
}

.omos-info li::before {
  content: "-";
  position: absolute;
  left: -20px;
  color: var(--main-font);
}

.omos-info2 {
  list-style-type: none;
  padding: 30px;
}

.omos-info2 li {
  margin-bottom: 20px;
  position: relative;
}

.omos-info2 li::before {
  content: "-";
  position: absolute;
  left: -20px;
  color: var(--main-font);
}

.omos-info3 {
  list-style-type: none;
  padding: 30px;
 padding-left: 70px;
 padding-right: 50px;
 text-align: start;
}

.omos-andet{
padding-left: 50px;
padding-right: 50px; 
padding-bottom: 100px;
}

.omos-info3 li {
  margin-bottom: 20px;
  position: relative;
}

.omos-info3 li::before {
  content: "-";
  position: absolute;
  left: -20px;
}
.line{
    display: none;
}

.omos-minigrid h4 {
    color: var(--h-font);
    font-family: "Amaline Trial";
    font-size: 20px;
    padding-top: 50px;
  }

  .omos-minigrid{
    border: 1px solid var(--h-font);
    margin-bottom: 70px;
  }

.lennert-info {
  list-style-type: none;
  text-align: start;
}

.lennert-info li {
  margin-bottom: 20px;
  position: relative;
}

.lennert-info li::before {
  content: "-";
  position: absolute;
  left: -20px;
  color: var(--main-font);
}

.lennert {
  margin-top: 100px;
}

.lennert-sprite h4 {
    color: var(--h-font);
    font-family: "Amaline Trial";
    font-size: 20px;
    text-align: start;
}

.lennert-sprite{
border: 1px solid var(--h-font); padding: 50px;
}

#felleskab {
  text-align: center;
}

.facebook-regler {
  list-style-type: none;
  text-align: start;
}

.facebook-regler li {
  position: relative;
  padding: 10px;
}

.facebook-regler li::before {
  content: "-";
  position: absolute;
  left: -20px;
  color: var(--main-font);
}

.facebook-border {
  display: none;
}

.facebook-container {
  border: 1px solid var(--main-font);
  padding: 40px;
  margin-bottom: 50px;
}

#felleskab h2 {
  margin-top: 50px;
  text-align: center;
}

.button {
  border: 1px solid var(--main-font);
  border-radius: 50px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: var(--main-font);
  font-weight: bold;
  font-family: "Amaline Trial";
  font-size: 12px;
}

.button:hover {
  color: var(--h-font);
  border: 1px solid var(--h-font);
}

.nyhedsbrev-container{
  margin-top: 100px;
  text-align: center;
}

.nyhedsbrev{
  margin-top: 50px;
}

.nyhedsbrev label{
  font-weight: 400;
font-size: 18px;
}

.nyhedsbrev input{
padding-right: 100px;

}

button{
  margin-top: 30px;
  border: 1px solid var(--main-font);
  border-radius: 50px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: var(--main-font);
  font-weight: bold;
  font-family: "Amaline Trial";
  font-size: 12px;
  background-color: var(--primary);
}

button:hover{
  color: var(--h-font);
  border: 1px solid var(--h-font);
}



@media (width <= 1450px) {
    .lennert-container {
        display: flex;
        flex-direction: column; 
      }
    
    
      .lennert-img {
        order: -1; 
        align-self: center; 
      }}

/* WEBSITE */

@media (width >= 768px) {
  .omos-img {
    width: 387px;
    height: 499px;
  }

  .lennert-img {
    width: 387px;
    height: 499px;
  }

  #box {
    display: flex;
    justify-content: end;
  }

}

@media (width >= 1450px) {
  .helle-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .helle-sprite {
    border: 1px solid var(--main-font);
    max-width: 460px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 190px;
    padding-right: 80px;
  }

  .helle-sprite p {
    text-align: start;
  }

  .helle-sprite h2 {
    font-size: 50px;
  }


  #omos h3 {
    font-size: 40px;
    text-align: start;
    margin-left: 100px;
    margin-top: 100px;
  }

  .omos-container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    padding: 30px;
    list-style-type: none;
    text-align: start;
    padding: 40px;
    border: 1px solid var(--main-font);
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .omos-info {
    list-style-type: none;
    padding: 30px;
    column-count: 2;
    column-gap: 150px;
  }

  .omos-info2 {
    list-style-type: none;
    padding: 30px;
    column-count: 3;
    column-gap: 150px;
  }

  .omos-img {
    position: relative;
    z-index: 1;
    left: 130px;
  }

  .omos-minigrid {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    margin-top: 150px;
    border: none;
  }

  .omos-info3 {
    padding-right: 40px;
    padding-left: 140px;
    text-align: start;
  }

  .omos-andet {
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 14px;
    font-weight: 300;
    text-align: start;
  }

  .line {
    display: block;
  }

  .omos-minigrid h4 {
    color: var(--h-font);
    font-family: "Amaline Trial";
    font-size: 24px;
    display: flex;
    text-align: start;
    padding-left: 50px;
  }

  .lennert-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 200px;
  }

  .lennert-sprite {
    border: 1px solid var(--main-font);
    max-width: 460px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 190px;
  }

  .lennert-sprite p {
    text-align: start;
  }

  .lennert-sprite h2 {
    font-size: 50px;
  }

  .lennert-img {
    position: relative;
    z-index: 1;
    right: 130px;
    top: 10px;
  }

  .lennert-sprite h4 {
    color: var(--h-font);
    font-family: "Amaline Trial";
    font-size: 28px;
    text-align: start;
  }

  #felleskab {
    text-align: left;
    margin-top: 150px;
  }

  #felleskab h3 {
    position: relative;
    font-size: 50px;
    left: 250px;
    top: 20px;
    z-index: 1;
  }

  .facebook-regler li {
    position: relative;
    margin-bottom: 5px;
  }

  .facebook-container {
    position: relative;
    width: 1200px;
    top: 0px;
    left: 200px;
    border: none;
    padding: 0;
  }

  .facebook-border {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .content {
    position: relative;
    z-index: 1;
    padding: 50px;
    left: 330px;
    top: 10px;
    max-width: 650px;
  }

  .content p,
  li {
    font-size: 14px;
    font-weight: 300;
  }

  .button {
    position: relative;
    z-index: 1;
    left: 1030px;
    top: -130px;
    max-width: 650px;
  }
}
