html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
  --primary: #f5e9db;
  --secondary: #fbf5ef;
  --main-font: #411b0c;
  --menu-font: #bb7e33;
  --h-font: #9d523c;
}

.product-grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* max-width: 1200px; */
  width: 100%;
}

.product-card {
  background-color: var(--primary);
  border: 1px solid var(--main-font);
  padding: 20px;
  text-align: center;
}

.product-card p {
  color: var(--main-font);
}

/* .image-hover {
    background-image: url(/img/produkt_krystal_agat_blå.webp); 
    background-size: cover; 
    transition: background-image 0.5s ease-in-out; 
    aspect-ratio: 1/1.3;
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.image-hover:hover {
    background-image: url(/img/hover-agat-blå.webp);
} */

.img-inspo1,
.img-inspo2 {
  display: none;
}

.image-container {
  width: 100%;
  margin-bottom: 30px;
}

.image-container img {
  aspect-ratio: 1/1.3;
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.product-name {
  font-size: 1rem;
  margin: 10px 0 5px;
}

.product-price {
  font-size: 1.2rem;
  margin: 5px 0;
}

.buy-button {
  display: inline-block;
  padding: 10px 20px;
  border: solid 1px var(--main-font);
  color: var(--main-font);
  text-decoration: none;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 10px;
}

.buy-button:hover {
  border: solid 1px var(--h-font);
  color: var(--h-font);
}

/* .img-inspo1 {
  grid-column: 1/3;
} */

@media (width > 500px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-inspo1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    overflow: hidden;
    display: inline;
    grid-column: 1/3;
  }

  .img-inspo1 img {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .img-inspo2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    overflow: hidden;
    display: inline;
    grid-column: -3 / -1;
    grid-row: 5 / span 2;
  }

  .img-inspo2 img {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }
}

@media (width > 1000px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .img-inspo1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    overflow: hidden;
    display: inline;
    grid-column: -3 / -1;
  }

  .img-inspo1 img {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .img-inspo2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    overflow: hidden;
    display: inline;
    grid-column: 1 / 3;
    grid-row: 4;
  }

  .img-inspo2 img {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }
}
