html {
  scroll-behavior: smooth; 
  scroll-padding-top: 200px; 
  --primary: #f5e9db;
  --secondary: #fbf5ef;
  --main-font: #411b0c;
  --menu-font:#bb7e33;
  --h-font:#9d523c;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* max-width: 1200px; */
    width: 100%;
  }
  
  .product-card {
    background-color: var(--primary);
    border: 1px solid var(--h-font);
    padding: 15px;
    text-align: center;
  }

  .product-card p{
    color: var(--h-font)
  }
  
  .img-inspo {
  display: none;
}
@media ( width > 500px ) {
    .product-grid{
    grid-template-columns: repeat(3, 1fr);
}
   .img-inspo{ 
    width: 100%;     
    height: auto;  
    object-fit: cover; 
    display: flex;       
    overflow: hidden;    
    display: contents;}

    .image-inspo{
      display: flex;        
      width: 100%;          
    height: auto;  
    overflow: hidden;    
      object-fit: cover; 
    grid-column: 1 / span 2;}



}
    


  .image-container {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .product-name {
    font-size: 1rem;
    color: #333;
    margin: 10px 0 5px;
  }
  
  .product-price {
    font-size: 1.2rem;
    color: #000;
    margin: 5px 0;
  }
  
  .buy-button {
    display: inline-block;
    padding: 10px 20px;
    border: solid 1px var(--h-font);
    color: var(--h-font);
    text-decoration: none;
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .buy-button:hover {
    background-color: #555;
  }